<!DOCTYPE html>
<html>
<head>
	<style>
		body {
			height: 180px;
			width: 180px;
			outline: none;
		}
		
		#request-webcam-permissions {
			text-align: center;
			width: 230px;
			margin-left: 35px;
			padding-top: 10px;
		}
		
		#request-webcam-permissions a {
			background: #2A87EC;
			color: white;
			font-size: 16px;
			padding: 10px 12px;
			border-radius: 3px;
			text-decoration: none;
		}
		</style>
	</head>
	<body>
		
		<div id="qr_code"></div>
		
		<script src="../js/lib/jquery.js"></script>
		<script src="../js/popup.js"></script>
	</body>
</html>
